<ul class="posts">
<% posts.each do |post| %>
  <li>
    <div class="title">
      <a href="<%= post.link %>" target="_blank"><%= post.title %></a>
    </div>

    <%= render "shared/details", post: post, display_details: true %>
  </li>
<% end %>
</ul>

<%= will_paginate posts %>
