<div class="category">
  <h2><%= @category.name %></h2>
  <div class="description">
    <%= @category.description %>
  </div>
  <%= render "shared/posts_list", posts: @posts, display_details: true %>
</div>
